{% extends 'layout.html' %}
{% block body %}

<div class="jumbotron">
  <h1>Why i made this website ? </h1>
  <p class="lead"> <h1>Hi Im MohamedAbdoo This Is My Server Just To Put The Main Structures For Any Other Project  SO i Made This Website By Python Flask Library Which Was Kinda Good But The Best Thing Was The Bootstrap Any way This is just a Aboutme Website</h1>   </p>
  <center><img src= "{{url_for('static', filename='/Image/me.png')}}" height="300" width="300" ></center>


</div>






{% endblock %}
